.settings
.cproject
build
._*
.\#*
\#*
doc/build
*.pyc
.rosinstall
.project
.pydevproject
*~
*.orig
*~
bin/.tmp
.tmp
*.dot
build
*.png
.nfs*
chromedriver.log
*.swp
.svn
build_html
sphinx_build
dox_build
.hg
*.vcproj
*.sln
callgrind.*
*.lprof
gurobi.log
data
.idea

*.log
*.pdf
*.out
*.aux
*.synctex.gz
fastcontrol.c
fastcontrol.html
fastcontrol.so

ipy/.ipynb_checkpoints
DOTGIT
numpy/doc
*.sublime-workspace
control.wpr
control.wpu
control-aux

*.bin.cpgz # binary junk created by atari emulator?

cpp/3rdparty/mujoco/
cpp/3rdparty/mjc/

_build

docdata
MUJOCO_LOG.txt
*.sublime-project
roms